#chart {
	width:100%;
	margin: auto;

}
#admin-content{
	top:80px;
	height:calc(100% - 80px);
	padding: 0 5vw;
	position:relative;
	margin:auto;
	width:100%;
	overflow: auto;

}

#table-wrapper {
	width: 70vw;
	height: 450px;
	overflow-y: scroll;

	margin: 0 auto 5vh 0;
}

#title{
	margin: 3vh auto;
}


.container{
	width:100% !important;
	margin:0;
	max-width: none !important;
	background-color: #e8e9eb;
	padding:2vh 2vw;
}

.container h5{
	margin:2vh auto;
	font-size: 2vh;
}
.row{
	width:100% !important;
	max-width: none !important;
}
.pie{
	height:25vh;
	width:50vh;
	margin:auto;
}

#admin-content h3{
	padding: 1vh 0;
}

tbody{
	background-color: #e8e9eb !important;
}

/*
thead, tbody, tr, td, th {
	display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 100%;
    overflow-y: auto;
}

tbody td, thead th {
    width: 25%;
    float: left;
}
*/
.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 450px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 25%;
    float: left;
}
