/* ---------- Bootstrap Changes --------- */

.row-override {
	width: 100%;
	margin: 0;
}

.col, .col-4, .col-8 {
	padding: 0;
}

#welcome-message{
	padding:2vw;
	text-align: center;
}

#welcome-message p{
	margin:0;
}


#info-row{
	height:75%
}

#rplogo, #threecslogo{
	width:60%;
	margin: auto;

}
