/* -------- Page Structure --------- */
html, body {
	height: 100%;
	width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
	background-color: #F2F3F1;
	min-width: 960px;
}

.page_content {
	height: 100%;
	width: 90%;
    display: inline-block;
}

.page-body{
    margin: 0 5% 0 5%;
}




/* -------- Button styling --------- */

.button_wrapper {
	text-align: center;
}

.rounded_button {
	height: 40px;
	width: 250px;
	border: none;
	border-radius: 200px;
	white-space: nowrap;
	color: #F2F3F1;
	font-weight: bold;
	display: block;
	margin: 10px auto;
	transition: 0.5s;
	cursor: pointer;
}

.rounded_button:hover {
	background-color: #DCA726;
}

.blue_button {
	background-color: #03BABD;
}

.purple_button {
	background-color: #BC72AF;
}


/* ------ Navigation SIDEBAR -------- */

.sidebar{
    display: block;
    width: 18%;
    height: calc(100% - 50px);
	top:50px;
	padding: 0;
	position:absolute;

}

/* Nav text and icons */
.sidebar ul{
	list-style: none;
	padding: 0;
	color:rgba(255,255,255,.5);
}

.sidebar ul li a{
	font-size:16px;
	color:rgba(255,255,255,.5);
}

.sidebar ul .nav-heading{
	font-size:12px;
	padding-top:1.5rem;
}

.nav-link{
	padding-left:0;
}

.sidebar ul li{
	padding: 0 0.75rem;
}

.feather {
  margin-right: 0.75rem;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;

}

#prod-website{
	font-size:16px;
	margin-top: 1rem;
	padding: 0.75rem;
}

/* Nav text and icons hover*/
.nav-item:hover:not(.nav-heading) {
	background: #2C3137 !important;
}

#prod-website:hover, #prod-website:hover a {
	text-decoration: underline;
}


/* ------ Navigation TOPBAR -------- */
#topbar{
	height: 50px;
	width:100%;
	background: #343a40 ;
}

#logo {
    height: 35px;
	display: inline-block;
	margin: 7.5px 0.75rem;
}

#topbar a{
	color:rgba(255,255,255,.5);
	margin: auto;
}

#topbar a:hover{
	text-decoration: underline;
	cursor: pointer;
}

#topbar .col-md-11{
	padding: 0;
}


/* ---------- Dynamic navbar TODO DELETE -----------------*/
/* @media screen and (max-width: 1050px) {
	.nav-item {
	    padding: 5px 10px 0 10px;
		transition: 0.2s;
		border-radius: 5px 5px 0px 0px;
	}

	.nav-item a {
		font-size: 0;
		padding: 0;
	}

	.material-icons.lighter {
	    color: #F2F3F1;
	    font-size: 24px;
	    padding-right: 0px;
	    display: inline-flex;
	    vertical-align: top;
	}
} */

/* ----------Content --------- */
.content{
	width:82%;
	height:calc(100% - 50px);
	background-color: pink;
	left:18%;
	display: block;
	position: absolute;
}

/* ---------- MISC -----------------*/

.jumbotron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: transparent;
  padding: 60px 20px 20px 20px;
  margin: 0;
}
