/* ---------- Bootstrap Changes --------- */

.row-override, #child-select-box, #buttons-box, #calendar-box {
	height: 100%;
	width: 100%;
	margin: 0;
}

.col-7, .col-5 {
	padding: 0;
}

/* -------------------- Main Style Changes -------------------- */
.rounded-button {
	margin: 0;
}

/* -------------------------- Rows ---------------------------- */
#top-row {
	height: 20%;
}

#bottom-row {
	height: 80%;
}

/* ---------------------- Table ---------------------- */

#table-box{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	
	
}

#table-box div{
	width: calc(100% + 20px);
}
#table-box{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#table-box h3{
text-align: left;
width:100%;
}

/* ----------------------- Child Select -------------------- */

#child-select-box{
	height: 20%;
}

#child-select-box h3 {
	padding: 10px;
}

#child-select-box .box-inner {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	min-height: 180px;
}

#child-select-box .box-inner .row {
	width: 1000px;
}

#child-select-box .col-4 {
	min-width: 300px;
	text-align: center;
}

#date-select input {
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 0 10px;
}

#child-select-list {
	width: 100%;
	vertical-align: middle;
}

#child-select-box .center-group {
	width: 77%;
}

#child-select-box .box-inner {
	position: relative;
	padding:0 4vw;
}

/* ------------------------ Buttons ------------------------ */


#generate-report-button {
	margin-bottom: 1vh;
}
