/* ---------- Bootsrap Changes --------- */

.row-override {
	height: 50%;
	width: 100%;
	margin: 0;
}

.col, .col-4 {
	padding: 0;
}

/*-------------- Calendar ----------------*/
#calendar {
	padding
}
