/* ---------- Bootsrap Changes --------- */

.row-override {
	height: 100% !important;
	width: 100%;
	margin: 0;
}

.col, .col-4 {
	padding: 0;
}


a{
	color: #03BABD;
}

a:hover{
	color: #03BABD;
}

li{
	list-style : none;

}
ul{
	padding: 0;
}

#tute-image{
	width: 100%;
	max-height: 100%;
	max-width: 600px;
	display: block;
	margin: auto;

}


p{
	margin:40% 0;
	font-size:calc(14px + 1vh);
}

.no-margin{
	margin: 0 0  1rem 0 ;
}

#help{
	height:10vh;
	width:10vh;
	float:left
}

b{
	color: #DCA726;
	font-family: 'roboto', sans-serif;
	margin:2.5vh 0;
	font-size:calc(14px + 1.5vh);
	display: block;

}
.no-bottom-margin{
	margin-bottom: 0;

}

.no-top-margin{
	margin-top: 0;
}
.black{
	color:black;
}
.black:hover {
	text-decoration: none;
}
